node_modules/
.pnp
.pnp.*

/output/*
!/output/.gitkeep

/tmp/*
!/tmp/.gitkeep

/build
/dist
/coverage
Admin/dist
*.tsbuildinfo

.studio-data/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store

.env
.cursor/*
!.cursor/rules/
